/* Header Desktop */
.ah {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    &-active {
      background-image: linear-gradient(180deg, rgba(0,0,0,0.75), rgba(0,0,0,0.5), rgba(0,0,0,0.75));
      backdrop-filter: blur(5px);
      .ah-nav { padding: 1rem 0 0 0; }
    }
    nav ul, nav ul li {
      margin-bottom: 0 !important;
    }
    @include mq(tablet-md, max) {
      display: none;
    }
  }
  &-container-nav {
    display: block;
    height: auto;
  }
  &-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    transition: ease .3s all;
    &_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      &--item {
        a {
          padding: 1rem 0;
          text-decoration: none;
          span, svg, i {
            color: $white;
            font-size: 1.5rem;
          }
        }
      }
      &--menu {
        a {
          padding: 1rem 2rem;
        }
      }
    }
  }
}

/* Header Mobile */
.ah {
  &-header-mobile {
    display: none;
    @include mq(tablet-md, max) {
      display: block;
    }
  }
}