/* Header Desktop */
.ah {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    &-active {
      background-image: linear-gradient(180deg, rgba(0,0,0,0.75), rgba(0,0,0,0.5), rgba(0,0,0,0.75));
      backdrop-filter: blur(5px);
      .ah-nav { padding: 1rem 0 0 0; }
    }
    nav ul, nav ul li {
      margin-bottom: 0 !important;
    }
    @include mq(tablet-md, max) {
      display: none;
    }
  }
  &-container-nav {
    display: block;
    height: auto;
  }
  &-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    transition: ease .3s all;
    &_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      &--item {
        a {
          padding: 1rem 0;
          text-decoration: none;
          span, svg, i {
            color: $white;
            font-size: 1.5rem;
          }
        }
      }
      &--menu {
        a {
          padding: 1rem 2rem;
        }
      }
    }
  }
}

/* Header Mobile */
.ah {
  &-header-mobile {
    display: none;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    @include mq(tablet-md, max) {
      display: block !important;
    }
    nav ul, nav ul li {
      margin-bottom: 0 !important;
    }
    .ah {
      &-nav {
        &_list--brand {
          display: flex;
          justify-content: space-between;
          width: 100%;
          flex-direction: row;
          #ah-nav_list--item-button.active .fa-bars { display: none !important; }
          #ah-nav_list--item-button.active .fa-times { display: block !important; }
          #ah-nav_list--item-button .fa-times { display: none !important; }
          .ah-nav_list--item:nth-child(1) a img { 
            @include mq(tablet-md, max) {
              height: 50px; 
            }
            @include mq(phone-lg, max) {
              height: 25px; 
            }
          }
          .ah-nav_list--item:nth-child(2) {
            margin-left: auto;
            margin-right: 2rem;
          }
          .ah-nav_list--item:nth-child(2) i, svg,
          .ah-nav_list--item:nth-child(3) i, svg { color: $dark; }
        }
        &_list--menu {
          position: fixed;
          left: -100%;
          right: -100%;
          width: 100%;
          bottom: 0;
          transition: ease .5s all;
          box-shadow: inset 0.5rem 0 1rem rgba(0, 0, 0, 0.1);
          @include mq(tablet-md, max) {
            top: 95px;
          }
          @include mq(phone-lg, max) {
            top: 70px;
          }
          background-color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          * {
            color: $dark;
          }
          li a span {
            font-size: 3rem;
          }
        }
        &_list--show {
          left: 0;
          right: 0;
        }
      }
    }
  }
}