.ah {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }
  &-container-nav {
    display: block;
    height: auto;
  }
  &-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    &_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      &--item {
        a {
          padding: 1rem;
          text-decoration: none;
          span, svg, i {
            color: $white;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}