<section id="ah-ip" class="ah ah-ip">
  <div class="ah-ip-container container">
    <div class="ah-ip-row row">
      <div class="ah-ip-alert eleven columns">
        <div class="ah-ip-alert_left">
          <span>Lorem Ipsum. Dolor</span>
          <h2>IP lorem ip.</h2>
        </div>
        <div class="ah-ip-alert_center">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum officiis tempora in porro, cupiditate quo reprehenderit? Voluptates iste earum dolore perferendis quae. Unde cum enim dolorem sint magnam eligendi architecto? Velit.</p>
        </div>
        <div class="ah-ip-alert_right">
          <a href="#" id="ah-ip-alert_close" class="ah-ip-alert_close">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>