<section id="ah-jumbotron" class="ah ah-jumbotron">
  <div class="ah-container container">
    <div class="ah-row row">
      <div class="ah-card six columns">
        <span>Dinos tu opinión sobre</span>
        <h1>Ironman ?</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quaerat ab corporis rem exercitationem iure, esse cupiditate, iste beatae aperiam quam quidem molestiae fugit possimus voluptates error dignissimos accusantium quisquam?
        </p>
        <a href="#" class="ah-btn ah-btn-link ah-btn-wiki">
          <i class="fab fa-wikipedia-w"></i>
          <span>Más Información</span>
        </a>
        <h6>¿Cual es tu voto?</h6>
        <div class="ah-card_info--buttons">
          <a href="#" class="ah-btn ah-btn-primary ah-btn-like">
            <i class="fas fa-thumbs-up"></i>
          </a>
          <a href="#" class="ah-btn ah-btn-secondary ah-btn-dislike">
            <i class="fas fa-thumbs-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ah-row ah-row-percentage row">
    <div class="ah-bar" id="ah-bar">
      <div class="ah-bar_items" id="ah-bar_items">
        <div class="ah-bar_box ah-bar_like">
          <i class="fas fa-thumbs-up"></i>
          <span id="ah-bar_like--percentage" class="ah-bar_like--percentage">0%</span>
        </div>
        <div class="ah-bar_box ah-bar_dislike">
          <i class="fas fa-thumbs-down"></i>
          <span id="ah-bar_dislike--percentage" class="ah-bar_dislike--percentage">0%</span>
        </div>
      </div>
    </div>
  </div>
</section>