<section id="ah-jumbotron" class="ah ah-jumbotron">
  <div class="ah-container-jumbotron container">
    <div class="ah-row row">
      
      @@include('_votes.html')
      @@include('_voteLike.html')
      @@include('_voteDislike.html')

    </div>
  </div>
  <div class="ah-row ah-row-percentage row">
    <div class="ah-bar" id="ah-bar">
      <div class="ah-bar_items" id="ah-bar_items">
        <div class="ah-bar_box ah-bar_like" id="ah-bar_like">
          <i class="fas fa-thumbs-up"></i>
          <span id="ah-bar_like--percentage" class="ah-bar_like--percentage">0%</span>
        </div>
        <div class="ah-bar_box ah-bar_dislike" id="ah-bar_dislike">
          <i class="fas fa-thumbs-down"></i>
          <span id="ah-bar_dislike--percentage" class="ah-bar_dislike--percentage">0%</span>
        </div>
      </div>
    </div>
  </div>
</section>