<div id="ah-card-votes" class="ah-card six columns">
  <span>Dinos tu opinión sobre</span>
  <h1>Ironman ?</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quaerat ab corporis rem exercitationem iure, esse cupiditate, iste beatae aperiam quam quidem molestiae fugit possimus voluptates error dignissimos accusantium quisquam?
  </p>
  <a href="#" class="ah-btn ah-btn-link ah-btn-wiki">
    <i class="fab fa-wikipedia-w"></i>a
    <span>Más Información</span>
  </a>
  <h6>¿Cual es tu voto?</h6>
  <div class="ah-card_info--buttons">
    <a href="#" id="ah-button-like" class="ah-btn ah-btn-primary ah-btn-like">
      <i class="fas fa-thumbs-up"></i>
    </a>
    <a href="#" id="ah-button-dislike" class="ah-btn ah-btn-secondary ah-btn-dislike">
      <i class="fas fa-thumbs-down"></i>
    </a>
  </div>
</div>