<div id="ah-card-voteDislike" class="ah-card six columns" style="display: none;">
  <span>Marvel -<h1>Ironman</h1></span>
  <div class="ah-card_danger">
    <i class="fas fa-thumbs-down"></i>
    <strong>Tu voto<br>ha sido registrado</strong>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, aliquid veritatis repudiandae odio reprehenderit id.</p>
  <div class="ah-card_info--button">
    <a href="#" id="ah-button-dislike--back" class="ah-btn ah-btn-light ah-btn-outline">
      <span>&laquo;&nbsp;&nbsp;Volver a votar</span>
    </a>
  </div>
</div>